.logo {
    img{
        max-width: 122px;
        max-height: 60px;
    }
}
header{
    display: inline-flex;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    z-index: 2;
    .container {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 15px 25px;
        .header {
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            .menu {
                width: 100%;
                width: auto;
                ul{
                    display: inline-flex;
                    width: auto;
                    justify-content: space-between;
                    li {
                        padding: 0 45px;
                        a {
                            color: #fff;
                            position: relative;
                            padding: 7px 0;
                            &:after{
                                width: 0%;
                                height: 2px;
                                background-color: #fff;
                                content: ' ';
                                bottom: 0px;
                                position: absolute;
                                left: 0px;
                                transition: .25s;
                            }
                            &:hover {
                                &:after {
                                    width: 100%;
                                }
                            }
                        }
                        
                    }
                }
            }
            .social {
                padding-left: 45px;
                display: inline-flex;
                align-items: center;
                a{
                    margin-left: 14px;
                    i{
                        color: #fff;
                    }
                }
            }
        }
    }
}